{% extends 'index.html' %}
{% load static %}

{% block title %}
    商品团购
{% endblock %}

{% block body %}
    <!---->
    <div style="background:url(../../static/images/group_img.jpg) no-repeat; height:472px; width:100%; background-position:center"></div>

    <!--位置-->
    <div class="Bread_crumbs">
        <div class="Inside_pages clearfix">
            <div class="left">当前位置：<a href="#">首页</a>&gt;<a href="#">活动专区</a></div>
            <div class="right Search">
                <form>
                    <input name="" type="text" class="Search_Box"/>
                    <input name="" type="button" name="" class="Search_btn"/>
                </form>
            </div>
        </div>
    </div>

    <!--团购样式-->
    <div class="Inside_pages clearfix">
        <div class="Group_buy">
            <div class="Group_title"><em></em>今日团购<span>GROUP-BUYING</span></div>
            <div class="Group_list clearfix">
                <div class="left_Group">
                    <div class="Group_prodcut">
                        <div class="clearfix">
                            <div class="Group_info">
                                <a href="#" class="Collect"></a>
                                <ul>
                                    <li class="Group_p_name"><a href="#">浦江斗志红提</a></li>
                                    <li class="Group_p_about">绿色有机无污染水果</li>
                                    <Li>礼盒装 500g</Li>
                                    <li class="Group_price"><span class="Current_price"><i>￥</i>15.00</span> <span
                                            class="Group_List">原价：18.00</span></li>
                                    <li class="Group_p_buy">
                                        <span class="Group_Number"><em></em>234人购买</span>
                                        <span class="Group_button right"><a href="#" class="buy_button"></a></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="Group_img"><a href=""><img src="http://www.ytlgs.cn/goods.php?id=77"
                                                                   height="195"
                                                                   width="365"/></a></div>
                        </div>
                        <div class="Group_time">
                            <em></em>距离结束还有2天4小时32分23秒
                        </div>
                    </div>
                    <div class="Group_prodcut">
                        <div class="clearfix">
                            <div class="Group_info">
                                <ul>
                                    <li class="Group_p_name"><a href="#">浦江斗志红提</a></li>
                                    <li class="Group_p_about">绿色有机无污染水果</li>
                                    <Li>礼盒装 500g</Li>
                                    <li class="Group_price"><span class="Current_price"><i>￥</i>15.00</span> <span
                                            class="Group_List">原价：18.00</span></li>
                                    <li class="Group_p_buy">
                                        <span class="Group_Number"><em></em>234人购买</span>
                                        <span class="Group_button right"><a href="#" class="buy_button"></a></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="Group_img"><a href=""><img src="../../static/images/pic5.jpg" height="195"
                                                                   width="365"/></a></div>
                        </div>
                        <div class="Group_time">
                            <em></em>距离结束还有2天4小时32分23秒
                        </div>
                    </div>
                    <div class="Group_prodcut">
                        <div class="clearfix">
                            <div class="Group_info">
                                <ul>
                                    <li class="Group_p_name"><a href="#">浦江斗志红提</a></li>
                                    <li class="Group_p_about">绿色有机无污染水果</li>
                                    <Li>礼盒装 500g</Li>
                                    <li class="Group_price"><span class="Current_price"><i>￥</i>15.00</span> <span
                                            class="Group_List">原价：18.00</span></li>
                                    <li class="Group_p_buy">
                                        <span class="Group_Number"><em></em>234人购买</span>
                                        <span class="Group_button right"><a href="#" class="buy_button"></a></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="Group_img"><a href=""><img src="../../static/images/pic5.jpg" height="195"
                                                                   width="365"/></a></div>
                        </div>
                        <div class="Group_time">
                            <em></em>距离结束还有2天4小时32分23秒
                        </div>
                    </div>
                    <div class="Group_prodcut">
                        <div class="clearfix">
                            <div class="Group_info">
                                <ul>
                                    <li class="Group_p_name"><a href="#">浦江斗志红提</a></li>
                                    <li class="Group_p_about">绿色有机无污染水果</li>
                                    <Li>礼盒装 500g</Li>
                                    <li class="Group_price"><span class="Current_price"><i>￥</i>15.00</span> <span
                                            class="Group_List">原价：18.00</span></li>
                                    <li class="Group_p_buy">
                                        <span class="Group_Number"><em></em>234人购买</span>
                                        <span class="Group_button right"><a href="#" class="buy_button"></a></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="Group_img"><a href=""><img src="../../static/images/pic5.jpg" height="195"
                                                                   width="365"/></a></div>
                        </div>
                        <div class="Group_time">
                            <em></em>距离结束还有2天4小时32分23秒
                        </div>
                    </div>
                    <div class="Group_prodcut">
                        <div class="clearfix">
                            <div class="Group_info">
                                <ul>
                                    <li class="Group_p_name"><a href="#">浦江斗志红提</a></li>
                                    <li class="Group_p_about">绿色有机无污染水果</li>
                                    <Li>礼盒装 500g</Li>
                                    <li class="Group_price"><span class="Current_price"><i>￥</i>15.00</span> <span
                                            class="Group_List">原价：18.00</span></li>
                                    <li class="Group_p_buy">
                                        <span class="Group_Number"><em></em>234人购买</span>
                                        <span class="Group_button right"><a href="#" class="buy_button"></a></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="Group_img"><a href=""><img src="../../static/images/pic5.jpg" height="195"
                                                                   width="365"/></a></div>
                        </div>
                        <div class="Group_time">
                            <em></em>距离结束还有2天4小时32分23秒
                        </div>
                    </div>
                </div>
                <!--右侧团购样式-->
                <div class="right_Group">
                    <div class="right_Group_p_style">
                        <div class="clearfix">
                            <div class="left_Group_name">
                                <a href="#" class="Collect"></a>
                                <ul>
                                    <li class="Group_p_name"><a href="#">浦江斗志红提</a></li>
                                    <li class="Group_p_about">绿色有机无污染水果,孝敬爸妈的理想选择</li>
                                    <Li class="spacing">礼盒装 500g</Li>
                                    <li class="Group_price"><span class="Current_price"><i>￥</i>15.00</span> <span
                                            class="Group_List">原价：18.00</span></li>
                                    <li class="Group_p_buy">
                                        <span class="Group_Number"><em></em>234人购买</span>
                                        <span class="Group_button right"><a href="#" class="buy_button"></a></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="right_Group_img"><a href=""><img src="../../static/images/pic1.jpg" height="370"
                                                                         width="365"/></a></div>
                        </div>
                        <div class="Group_time">
                            <em></em>距离结束还有2天4小时32分23秒
                        </div>
                    </div>
                    <!--团购列表-->
                    <div class="other_Group clearfix">
                        <div class="g_p_list">
                            <div class="g_p_style">
                                <div class="g_p_img"><a href="#"><img src="../../static/images/product_img_17.png"
                                                                      height="220"
                                                                      width="274"/></a></div>
                                <ul>
                                    <a href="#" class="Collect"></a>
                                    <li><a href="" class="name">浦江斗志红提</a></li>
                                    <li>绿色有机无污染水果</li>
                                    <li class="Group_price"><span class="Current_price"><i>￥</i>15.00</span> <span
                                            class="Group_List">原价：18.00</span></li>
                                    <li class="Group_p_buy">
                                        <span class="Group_Number">234人购买</span>
                                        <span class="Group_button right"><a href="#" class="buy_button"></a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="g_p_list">
                            <div class="g_p_style">
                                <div class="g_p_img"><a href="#"><img src="../../static/images/product_img_17.png"
                                                                      height="220"
                                                                      width="274"/></a></div>
                                <ul>
                                    <a href="#" class="Collect"></a>
                                    <li><a href="" class="name">浦江斗志红提</a></li>
                                    <li>绿色有机无污染水果</li>
                                    <li class="Group_price"><span class="Current_price"><i>￥</i>15.00</span> <span
                                            class="Group_List">原价：18.00</span></li>
                                    <li class="Group_p_buy">
                                        <span class="Group_Number">234人购买</span>
                                        <span class="Group_button right"><a href="#" class="buy_button"></a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="g_p_list">
                            <div class="g_p_style">
                                <div class="g_p_img"><a href="#"><img src="../../static/images/product_img_17.png"
                                                                      height="220"
                                                                      width="274"/></a></div>
                                <ul>
                                    <a href="#" class="Collect"></a>
                                    <li><a href="" class="name">浦江斗志红提</a></li>
                                    <li>绿色有机无污染水果</li>
                                    <li class="Group_price"><span class="Current_price"><i>￥</i>15.00</span> <span
                                            class="Group_List">原价：18.00</span></li>
                                    <li class="Group_p_buy">
                                        <span class="Group_Number">234人购买</span>
                                        <span class="Group_button right"><a href="#" class="buy_button"></a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="g_p_list">
                            <div class="g_p_style">
                                <div class="g_p_img"><a href="#"><img src="../../static/images/product_img_17.png"
                                                                      height="220"
                                                                      width="274"/></a></div>
                                <ul>
                                    <a href="#" class="Collect"></a>
                                    <li><a href="" class="name">浦江斗志红提</a></li>
                                    <li>绿色有机无污染水果</li>
                                    <li class="Group_price"><span class="Current_price"><i>￥</i>15.00</span> <span
                                            class="Group_List">原价：18.00</span></li>
                                    <li class="Group_p_buy">
                                        <span class="Group_Number">234人购买</span>
                                        <span class="Group_button right"><a href="#" class="buy_button"></a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

