{% extends 'index.html' %}
{% load static %}
{% block title %}
    所有果蔬
{% endblock %}
{% block nav %}
    <li class=""><a href="{% url 'index' %}">首页</a></li>
    <li {% if integral %} class="on" {% endif %}><a href="{% url 'integral' %}?page=1">所有果蔬</a></li>
    <li class=""><a href="{% url 'group_buy' %}">活动专区</a></li>
    <li class=""><a href="{% url 'products' %}?page=1">水果馆</a></li>
    <li class=""><a href="{% url 'products_list' %}?page=1">蔬菜馆</a></li>
    <li class=""><a href="{% url 'user_info' %}">会员中心</a></li>
    <li class=""><a href="#">联系我们</a></li>
{% endblock %}

{% block body %}
    <style>
        /* 分页样式 */

        .pagenation {
            height: 32px;
            text-align: center;
            font-size: 0;
            margin: 30px auto;
        }

        .pagenation a {
            display: inline-block;
            border: 1px solid #d2d2d2;
            background-color: #f8f6f7;
            font-size: 12px;
            padding: 7px 10px;
            color: #666;
            margin: 5px
        }

        .pagenation .active {
            background-color: #fff;
            color: #43a200
        }
    </style>
    <!---->
    <div><a href="#"><img src="{% static 'images/AD_page_img_02.png' %}" width="100%"/></a></div>
    <!--位置-->
    <div class="Bread_crumbs">
        <div class="Inside_pages clearfix">
            <div class="left">当前位置：<a href="#">首页</a>&gt;<a href="#">所有果蔬</a></div>
            <div class="right Search">
                <form>
                    <input name="" type="text" class="Search_Box"/>
                    <input name="" type="button" name="" class="Search_btn"/>
                </form>
            </div>
        </div>
    </div>
    <!--所有果蔬-->
    <div class="Inside_pages clearfix">
        <div class="integral_style">
            <div class="integral_title"><em></em>所有果蔬<span>POINTS MALL</span></div>
            <!--列表样式-->
            <div class="integral_p_list">
                <ul class="list_style">
                    {% for foo in data_page %}
                        <li class="clearfix" style="width: 310px;">
                            <div class="product_lists clearfix">
                                <a href="{% url "product_detailed" %}?id={{ foo.id }}"><img src="{{ foo.image }}"/></a>
                                <p class="title_p_name"><a
                                        href="{% url "product_detailed" %}?id={{ foo.id }}">{{ foo.name }}</a></p>
                                <p class="title_Profile"><a href="#">{{ foo.title }}</a></p>
                                <p class="price"><b>￥</b><span>{{ foo.price }}</span></p>
                                <p class="btn_style"><a href="{% url "product_detailed" %}?id={{ foo.id }}"
                                                        class="buy_btn"></a>
                                    <a href="{% url "product_detailed" %}?id={{ foo.id }}" class="Join_btn"></a></p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="pagenation">
                {% if data_page.has_previous %}
                    <a href="{% url 'integral' %}?page={{ data_page.previous_page_number }}">&lt;上一页</a>
                {% endif %}
                {% for pindex in pages %}
                    {% if pindex == data_page.number %}
                        <a class="active">{{ pindex }}</a>
                    {% elif pindex == '...' %}
                        <a>{{ pindex }}</a>
                    {% else %}
                        <a href="{% url 'integral' %}?page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if data_page.has_next %}
                    <a href="{% url 'integral' %}?page={{ data_page.next_page_number }}">下一页&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
