{% extends 'integral_app/Group_buy.html' %}
{% load static %}
{% block title %}
    所有果蔬
{% endblock %}

{% block img %}
    <div><a href="#"><img src="{% static 'images/AD_page_img_02.png' %}" width="100%"/></a></div>
{% endblock %}
{% block bread %}
所有果蔬
{% endblock %}
{% block new_body %}
    <style>
        /* 分页样式 */

        .pagenation {
            height: 32px;
            text-align: center;
            font-size: 0;
            margin: 30px auto;
        }

        .pagenation a {
            display: inline-block;
            border: 1px solid #d2d2d2;
            background-color: #f8f6f7;
            font-size: 12px;
            padding: 7px 10px;
            color: #666;
            margin: 5px
        }

        .pagenation .active {
            background-color: #fff;
            color: #43a200
        }
    </style>
    <!--所有果蔬-->
    <div class="Inside_pages clearfix">
        <div class="integral_style">
            <div class="integral_title"><em></em>所有果蔬<span>POINTS MALL</span></div>
            <!--列表样式-->
            <div class="integral_p_list">
                <ul class="list_style">
                    {% for foo in data_page %}
                        <li class="clearfix" style="width: 310px;height: 400px;">
                            <div class="product_lists clearfix">
                                <a href="{% url "product_detailed" %}?id={{ foo.id }}"><img src="{% static foo.image.url %}"/></a>
                                <p class="title_p_name"><a
                                        href="{% url "product_detailed" %}?id={{ foo.id }}">{{ foo.name }}</a></p>
                                <p class="title_Profile"><a href="#">{{ foo.title }}</a></p>
                                <p class="price"><b>￥</b><span>{{ foo.price }}</span></p>
                                <p class="btn_style"><a href="{% url "product_detailed" %}?id={{ foo.id }}"
                                                        class="buy_btn"></a>
                                    <a href="{% url "product_detailed" %}?id={{ foo.id }}" class="Join_btn"></a></p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="pagenation">
                {% if data_page.has_previous %}
                    <a href="{% url 'integral' %}?page={{ data_page.previous_page_number }}">&lt;上一页</a>
                {% endif %}
                {% for pindex in pages %}
                    {% if pindex == data_page.number %}
                        <a class="active">{{ pindex }}</a>
                    {% elif pindex == '...' %}
                        <a>{{ pindex }}</a>
                    {% else %}
                        <a href="{% url 'integral' %}?page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if data_page.has_next %}
                    <a href="{% url 'integral' %}?page={{ data_page.next_page_number }}">下一页&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

