{% extends 'integral_app/Group_buy.html' %}
{% load static %}
{% block title %}
    水果馆
{% endblock %}
{% block body %}
    <style>
        /* 分页样式 */

        .pagenation {
            height: 32px;
            text-align: center;
            font-size: 0;
            margin: 30px auto;
        }

        .pagenation a {
            display: inline-block;
            border: 1px solid #d2d2d2;
            background-color: #f8f6f7;
            font-size: 12px;
            padding: 7px 10px;
            color: #666;
            margin: 5px
        }

        .pagenation .active {
            background-color: #fff;
            color: #43a200
        }
    </style>
    <div class="AD_img"><a href="#"><img src="{% static 'images/AD_page_img_02.png' %}" width="100%"/></a></div>
    <!--位置-->
    <div class="Bread_crumbs">
        <div class="Inside_pages clearfix">
            <div class="left">当前位置：<a href="#">首页</a>&gt;<a href="#">水果馆</a></div>
            <div class="right Search">
                <form>
                    <input name="" type="text" class="Search_Box"/>
                    <input name="" type="button" name="" class="Search_btn"/>
                </form>
            </div>
        </div>
    </div>
    <!--产品-->
    <div class="Inside_pages">
        <!--水果馆-->
        <div class="fruits_Forum">
            <div class="title_style">
                <div class="title_name"><a href="#"><img src="../../static/images/sg_pro_img_12.png"/></a></div>
                <div class="title_info">
                    <p class="title_x_name">[健康水果小知识]</p>
                    <p class="x_info">
                        水果是指多汁且大多数有甜味可直接生吃的植物果实，不但含有丰富的营养且能够帮助消化。水果是对部分可以食用的植物果实和种子的统称。水果有降血压、减缓衰老、减肥瘦身、皮肤保养、
                        明目、抗癌、降低胆固醇补充维生素等保健作用。</p>
                </div>
                <div class="title_img"><img src="../../static/images/sg_pro_img_17.png"/></div>
            </div>
            <div class="list_style">
                <ul class="clearfix">
                    {% for foo in data_page %}
                        <li class="clearfix" style="width: 310px;">
                            <div class="product_lists clearfix">
                                <a href="{% url "product_detailed" %}?id={{ foo.id }}"><img src="{{ foo.image }}"/></a>
                                <p class="title_p_name"><a
                                        href="{% url "product_detailed" %}?id={{ foo.id }}">{{ foo.name }}</a></p>
                                <p class="title_Profile">{{ foo.title }}</p>
                                <p class="price"><b>￥</b>{{ foo.price }}</p><a
                                    href="{% url "product_detailed" %}?id={{ foo.id }}" class="buy_btn"></a><a
                                    href="javascript;('')"
                                    class="Join_btn"></a>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="pagenation">
                {% if data_page.has_previous %}
                    <a href="{% url 'products' %}?page={{ data_page.previous_page_number }}">&lt;上一页</a>
                {% endif %}
                {% for pindex in pages %}
                    {% if pindex == data_page.number %}
                        <a class="active">{{ pindex }}</a>
                    {% elif pindex == '...' %}
                        <a>{{ pindex }}</a>
                    {% else %}
                        <a href="{% url 'products' %}?page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if data_page.has_next %}
                    <a href="{% url 'products' %}?page={{ data_page.next_page_number }}">下一页&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
