{% extends 'integral_app/integral.html' %}
{% load static %}
{% load filters %}
{% block title %}
    蔬菜馆
{% endblock %}
{% block bread %}
    蔬菜馆
{% endblock %}
{% block new_body %}
    <style>
        /* 分页样式 */

        .pagenation {
            height: 32px;
            text-align: center;
            font-size: 0;
            margin: 30px auto;
        }

        .pagenation a {
            display: inline-block;
            border: 1px solid #d2d2d2;
            background-color: #f8f6f7;
            font-size: 12px;
            padding: 7px 10px;
            color: #666;
            margin: 5px
        }

        .pagenation .active {
            background-color: #fff;
            color: #43a200
        }
    </style>
    <!--产品-->
    <div class="Inside_pages">
        <!--蔬菜馆-->
        <div class="vegetables_Forum">
            <div class="title_style">
                <div class="title_name"><a href="#"><img src="{% static 'images/vegetables_img_40.png' %}"/></a></div>
                <div class="title_info">
                    <p class="title_x_name">[健康蔬菜小知识]</p>
                    <p class="x_info">蔬菜是指可以做菜、烹饪成为食品的一类植物或菌类，蔬菜是人们日常饮食中必不可少的食物之一。蔬菜可提供人体所必需的多种维生素和矿物质等营养物质。
                        据国际物质粮农组织1990年统计，人体必需的VC的90%、VA的60%来自蔬菜。此外，蔬菜中还有多种多样的植物化学物质，是人们公认的对健康有效的成分，目前果蔬中的营养素可以有效预防慢性、退行性疾病的多种物质，正在被人们研究发现。</p>
                </div>
                <div class="title_img"><img src="{% static 'images/title_p_img_32.png' %}"/></div>
            </div>
            <div class="list_style">
                <ul class="clearfix">
                    {% for foo in data_page %}
                        <li class="clearfix" style="width: 310px;height: 400px;">
                            <div class="product_lists clearfix">
                                <a href="{% url "product_detailed" %}?id={{ foo.id }}"><img
                                        src="{% static foo.image.url %}" width="200" height="200"/></a>
                                <p class="title_p_name"><a
                                        href="{% url "product_detailed" %}?id={{ foo.id }}">{{ foo.name }}</a></p>
                                <p class="title_Profile" style="color: rosybrown">{{ foo.title|mod_val }}</p>
                                <p class="price"><b>￥</b>{{ foo.price }}</p>
                                <p class="btn_style"><a href="{% url "product_detailed" %}?id={{ foo.id }}"
                                                        class="buy_btn"></a><a
                                        href="{% url "product_detailed" %}?id={{ foo.id }}" class="Join_btn"></a></p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="pagenation">
                {% if data_page.has_previous %}
                    <a href="{% url 'products_list' %}?page={{ data_page.previous_page_number }}">&lt;上一页</a>
                {% endif %}
                {% for pindex in pages %}
                    {% if pindex == data_page.number %}
                        <a class="active">{{ pindex }}</a>
                    {% elif pindex == '...' %}
                        <a>{{ pindex }}</a>
                    {% else %}
                        <a href="{% url 'products_list' %}?page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if data_page.has_next %}
                    <a href="{% url 'products_list' %}?page={{ data_page.next_page_number }}">下一页&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


