{% extends 'integral_app/integral.html' %}
{% load static %}

{% block title %}
    商品详细介绍
{% endblock %}
{% block bread %}
商品详情
{% endblock %}
{% block new_body %}
    <script src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=402727"></script>
    <!--商品详细介绍-->
    <div class="Inside_pages clearfix">
        <div class="left_style" style="width:18%;">
            <div class="title_img_p"><img src="{% static 'images/logo_small.png' %}" style="margin-left: 27px"/></div>
            <div class="ranking">
                <div class="ranking_title"><span>销量</span>排行</div>
                <ul class="ranking_list">
                    {% for sale in sales %}
                        <li class="">
                            <em class="ranking_label" style="height: 26px;">{{ forloop.counter }}</em>
                            <a href="?id={{ sale.id }}" class="img"><img src="{% static sale.image.url %}" width="100px"
                                                                         height="100px"/></a>
                            <p class="ranking_name"><a href="?id={{ sale.id }}">{{ sale.name }}</a></p>
                            <p class="price"><b>￥</b>{{ sale.price }}</p>
                            <p><a href="?id={{ sale.id }}">立即查看&gt;</a></p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--详细介绍样式-->
        <div class="right_style" style="margin-top: 18px;width: 80%;">
            <div class="right_top">
                <img src="../../static/images/12.jpg" alt="" style="width: 1024px;height: 140px;">
            </div>
            <div class="pro_detailed" style="margin-left: 0;">
                <div class="Details_style clearfix" id="goodsInfo">
                    <div class="mod_picfold clearfix" style="height: 400px;">
                        <div class="clearfix" id="detail_main_img" style="height: 330px;">
                            <div class="layout_wrap" style="margin: 87px 58px">
                                <a href=""><img src="{% static sku.image.url %}" alt="" width="300" height="300"></a>
                            </div>
                        </div>
                        <div class="Sharing" style="line-height: 280px">
                            <div class="bdsharebuttonbox right" style="margin-top: 125px">
                                <a href="#" class="bds_more" data-cmd="more"></a>
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                            </div>
                            <script>
                                window._bd_share_config = {
                                    "common": {
                                        "bdSnsKey": {},
                                        "bdText": "",
                                        "bdMini": "2",
                                        "bdMiniList": false,
                                        "bdPic": "",
                                        "bdStyle": "1",
                                        "bdSize": "16"
                                    },
                                    "share": {},
                                    "image": {
                                        "viewList": ["qzone", "weixin", "tsina", "tqq", "renren"],
                                        "viewText": "分享到：",
                                        "viewSize": "16"
                                    },
                                    "selectShare": {
                                        "bdContainerClass": null,
                                        "bdSelectMiniList": ["qzone", "weixin", "tsina", "tqq", "renren"]
                                    }
                                };
                                with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                            </script>
                            <!--收藏-->
                            <div class="coding">商品编码：3434534534534534</div>
                        </div>
                    </div>
                    <!--购买信息-->
                    <div class="Buying_info" style="margin-left:80px;margin-top: 50px">
                        <form action="{% url 'Orders' %}" method="post">
                            {#                        <a href="#"> <img src="{{ foo.image }}" width="400px"#}
                            {#                                                  height="400px"/></a>#}
                            <div class="product_name"><h2>{{ sku.name }}</h2><span>{{ sku.name }}</span></div>
                            <div class="product_price">
                                <div class="price">
                                    <label>商城价：</label><em>{{ sku.price }}</em><b>元/{{ sku.size }}</b>
                                </div>
                                <div class="jyScore-fra"><span><em style="width:60px;"></em></span><b>4.5</b><a
                                        href="#">{{ sku.comments }}</a></div>
                            </div>
                            <div class="productDL" style="height: 180px;">
                                <dl style="height: 35px;">
                                    <dt style="font-size: 16px; line-height:35px">品种：</dt>
                                    <dd class="left">
                                        <div class="item"><b></b><a href="#" title="">{{ sku.name }}</a></div>
                                    </dd>
                                </dl>
{#                                <dl style="height: 35px;">#}
{#                                    <dt style="font-size: 16px; line-height:25px ">包装：</dt>#}
{#                                    <dd class="left">#}
{#                                        <div class="item"><input type="radio" name="select">普通包装</div>#}
{#                                        <div class="item"><input type="radio" name="select">小礼盒</div>#}
{#                                        <div class="item"><input type="radio" name="select">大礼盒</div>#}
{#                                    </dd>#}
{#                                </dl>#}
                                <dl style="height: 35px;">
                                    <dt style="font-size: 16px;line-height: 32px">数量：</dt>
                                    <dd class="left">
                                        <div class="Numbers">
                                            <a href="javascript:" class="jian " id="minus">-
                                            </a>
                                            <input name="number" type="text" value="1" class="number_text">
                                            <a href="javascript:" class="jia " id="add">+
                                            </a>
                                        </div>
                                    </dd>
                                    <dd class="left Quantity">(库存：{{ sku.stock }})</dd>
                                </dl>
                                <d1>
                                    <dt style="font-size: 16px ; line-height: 30px;">总价：</dt>
                                    <div class="total" style="font-size: 20px"><em
                                            style="color: #fd2a32">{{ sku.price }}</em>元
                                    </div>

                                </d1>
                            </div>
                            <div class="product_Quantity" style="height: 15px;">销量：{{ sku.sales }}</div>
                            <div class="operating">
                                <a href="{% url "Orders" %}?p_id={{ sku.id }}"><input type="button"
                                                                                      id="information"
                                                                                      value="立即购买"
                                                                                      style="color: #ffffff; width: 130px; height: 50px;background: #ee1526;font-size: 20px;border-radius: 5px"></a>
                                {% if fav %}
                                    <a><img id="fav1"
                                            src="{% static 'images/fav1.jpg' %}" alt="取消收藏"
                                            style="width: 53px;height: 53px;" title="取消收藏"></a>
                                {% else %}
                                    <a><img id="fav"
                                            src="{% static 'images/fav.jpg' %}" alt="收藏"
                                            style="width: 53px;height: 53px;" title="收藏"></a>
                                {% endif %}
                                <a><input type="button" id='shop_cart'
                                          style="color: #ffffff;width: 130px; height: 50px;background: #fe9c3f;font-size: 20px;border-radius: 5px"
                                          value="加入购物车" onclick="f"></a>
                            </div>
                        </form>
                    </div>
                </div>
                <script>
                    $(function f() {
                        $('#shop_cart').click(function () {
                            num = $('.number_text').val();
                            price = $(".total>em").text();
                            p_id = {{ p_id }};
                            $.post('{% url 'add' %}', {
                                    'p_id': p_id,
                                    'count': num,
                                    'price': price
                                },
                                function (data) {
                                    if (data.message = 'OK') {
                                        alert('已加入购物车！')
                                    } else {
                                        alert('加入购物车失败！')
                                    }
                                })
                        })
                    });
                    $(function () {
                        var id = {{ sku.id }}
                            $('#fav').click(function () {
                                $.post({% url 'user_collect' %}, {'fav': 0, 'id': id},
                                    function (data) {
                                        alert(data.message)
                                        window.location.reload();
                                    }
                                )
                            });
                        $('#fav1').click(function () {
                            $.post({% url 'user_collect' %}, {'fav': 1, 'id': id},
                                function (data) {
                                    window.location.reload();
                                }
                            )
                        })
                    })
                </script>
                <script>
                    $("#add").click(function () {
                        var num_show = $(".number_text").val();
                        num_show = parseInt(num_show);
                        num_show += 1;
                        $(".number_text").val(num_show);
                        var price = $(".price>em").text();
                        price = parseFloat(price);
                        var total = price * num_show;
                        $(".total>em").text(total.toFixed(2));
                    });
                    $("#minus").click(function () {
                        var num_show = $(".number_text").val();
                        num_show = parseInt(num_show);
                        num_show -= 1;
                        if (num_show < 1) {
                            num_show = 1;
                        }
                        $(".number_text").val(num_show);
                        var price = $(".price>em").text();
                        price = parseFloat(price);
                        var total = price * num_show;
                        $(".total>em").text(total.toFixed(2));
                    });
                    $('.number_text').blur(function () {
                        var price = $(".price>em").text();
                        var count = $(this).val();
                        var total = price * count;
                        $(".total>em").text(total.toFixed(2));
                    })
                </script>

                <!--信息展示-->
                <div class="mainListRight" id="status1">
                    <ul class="fixed_bar">
                        <li class="status_on active"><a href="#status1">产品介绍</a></li>
                        <li class="status_on"><a href="#status2">商品评价<span>(0)</span></a></li>
                        <li class="status_on"><a href="#shbz">售后服务</a></li>
                        <div class="statusBtn" style="display: none;"><a href="javascript:addToCart_bak(77)"
                                                                         class="statusBtn1" title="加入购物车"></a></div>
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

