{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{% static 'css/css.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery.min.1.8.2.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.SuperSlide.2.1.1.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/common_js.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.foucs.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/demo.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>购物车</title>
</head>
<script>
    function cart_del(cart_id) {
        del = confirm('确定删除');
        {#            cart_id = $(this).parents('.cart_list_td').attr('id');#}
        {#            alert(cart_id);#}
        if (del) {
            $.get('/shop_app/delete' + cart_id + '/', function (data) {
                {#                    alert(data.ok);#}
                if (data.ok == 1) {
                    //删掉哪一行 商品  界面元素
                    {#                        alert('删除');#}
                    $('ul').remove('#' + cart_id);
                    total();
                }
            })
        }
    }
</script>

<body>
<!--顶部样式-->
<div class="top_header">
    <em class="left_img"></em>
    <div class="header clearfix" id="header">
        <a href="#" class="logo_img"><img src="{% static 'images/logo.png' %}"/></a>
        <div class="header_Section">
            <div class="shortcut">
                <ul>
                    {% if request.session.is_login %}
                        <li class="hd_menu_tit"><em class="login_img"></em><a
                                href="{% url 'user_info' %}">当前在线：{{ request.session.user_username }}</a></li>
                        <li class="hd_menu_tit"><em class="registered_img"></em><a href="{% url 'logout' %}">注销</a></li>
                    {% else %}
                        <li class="hd_menu_tit"><em class="login_img"></em><a href="{% url 'login' %}">登录</a></li>
                        <li class="hd_menu_tit"><em class="registered_img"></em><a href="{% url 'registered' %}">注册</a>
                        </li>
                    {% endif %}
                    <li class="hd_menu_tit"><em class="Collect_img"></em><a href="{% url 'user_collect' %}">收藏夹</a></li>
                    <li class="hd_menu_tit"><em class="cart_img"></em><a href="{% url 'shopping_cart' %}">购物车</a></li>
                    <li class="hd_menu_tit list_name" data-addclass="hd_menu_hover"><a href="#">网站导航</a><em
                            class="navigation_img"></em>

                        <div class="hd_menu_list">
                            <span class="wire"></span>
                            <ul>
                                <li><a href="#">常见问题</a></li>
                                <li><a href="#">在线退换货</a></li>
                                <li><a href="#">在线投诉</a></li>
                                <li><a href="#">配送范围</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav" id="Navigation">
                <ul class="Navigation_name">
                    <li class=""><a href="{% url 'index' %}">首页</a></li>
                    <li class=""><a href="{% url 'integral' %}">所有果蔬</a></li>
                    <li class=""><a href="{% url 'group_buy' %}">活动专区</a></li>
                    <li class=""><a href="{% url 'products' %}">水果馆</a></li>
                    <li class=""><a href="{% url 'products_list' %}">蔬菜馆</a></li>
                    <li class=""><a href="{% url 'user_info' %}">会员中心</a></li>
                    <li class=""><a href="#">联系我们</a></li>
                </ul>
            </div>
            <script>$("#Navigation").slide({titCell: ".Navigation_name li"});</script>
        </div>
    </div>
    <em class="right_img"></em>
</div>
<!---->
<div><a href="#"><img src="../../static/images/AD_page_img_02.png" width="100%"/></a></div>
<!--位置-->
<div class="Bread_crumbs">
    <div class="Inside_pages clearfix">
        <div class="right Search">
            <form>
                <input name="" type="text" class="Search_Box"/>
                <input name="" type="button" name="" class="Search_btn"/>
            </form>
        </div>
    </div>
</div>
<!--购物车样式-->
<div class="Narrow">
    <div class="shop_cart">
        <div class="schedule"></div>
        <div class="cart_style">
            <table id="cartTable">
                <thead>
                <tr>
                    <th><label><input class="check-all check" type="checkbox"/>&nbsp;全选</label></th>
                    <th>商品</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>小计</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for cart in carts %}
                    <tr>
                        <td class="checkbox"><input class="check-one check" type="checkbox"/></td>
                        <td class="goods"><a href="{% url 'product_detailed' %}?id={{ cart.pros_id }}"><img
                                src="{{ cart.pros.image }}" alt=""/><span>{{ cart.pros.name }}</span></a>
                        </td>
                        <td class="price">{{ cart.pros.price }}</td>
                        <td class="count"><span class="reduce"></span><input class="count-input" type="text"
                                                                             value="{{ cart.ccount }}"/><span
                                class="add">+</span></td>
                        <td class="subtotal">{{ cart.cprice }}</td>
                        <td class="operation"><span class="delete" onclick="cart_del({{ cart.id }});">删除</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="foot" id="foot">
                <label class="fl select-all"><input type="checkbox" class="check-all check"/>&nbsp;全选</label>
                <a class="fl delete" id="deleteAll" href="javascript:">删除</a>
                <div class="fr closing"><a href="{% url 'Orders'%}">结 算</a></div>
                <div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
                <div class="fr selected" id="selected">已选商品<span id="selectedTotal">0</span>件<span
                        class="arrow up">︽</span><span class="arrow down">︾</span></div>
                <div class="selected-view">
                    <div id="selectedViewList" class="clearfix">
                        <div><img src="{{ cart.pros.image }}"><span>取消选择</span></div>
                    </div>
                    <span class="arrow">◆<span>◆</span></span>
                </div>
            </div>
        </div>
    </div>
    <!--底部样式-->
    <div class="footer">
        <div class="footer_img_bg"></div>
        <div class="footerbox">
            <div class="footer_info">
                <div class="footer_left">
                    <a href="#"><img src="{% static 'images/logo.png' %}"/></a>
                    <p class="erwm">
                        <img src="{% static 'images/erweim.png' %}" width="80px" height="80px"/>
                        <img src="{% static 'images/erweim.png' %}" width="80px" height="80px"/>
                    <p>
                </div>
                <div class="helper_right clearfix">
                    <dl>
                        <dt><em class="guide"></em>新手指南</dt>
                        <dd><a href="#">实名认证</a></dd>
                        <dd><a href="#">找回密码</a></dd>
                    </dl>
                    <dl>
                        <dt><em class="h_about"></em>关于我们</dt>
                        <dd><a href="#">关于我们</a></dd>
                        <dd><a href="#">政策服务</a></dd>
                        <dd><a href="#">常见问题</a></dd>
                    </dl>
                    <dl>
                        <dt><em class="h_conact"></em>联系我们</dt>
                        <dd><a href="#">联系我们</a></dd>
                        <dd><a href="#">在线客服</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class=" Copyright ">
            @2015 四川莆田特色馆版权所有
        </div>
    </div>
</div>
</body>
</html>
