{% extends 'index.html' %}
{% load static %}

{% block title %}
    用户登录
{% endblock %}


{% block body %}
    <script src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=402727"></script>
    <script>
    $(function () {
        $("#phone_num").blur(function () {
            var phone = $("#phone_num").val();
            var reg = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
            if (reg.test(phone)) {
                <!--发送按钮倒计时代码-->
                function settime(obj) {
                    if (countdown == 0) {
                        obj.removeAttribute("disabled");
                        obj.value = "免费获取验证码";
                        countdown = 60;
                        return;
                    } else {
                        obj.setAttribute("disabled", true);
                        obj.value = "重新发送(" + countdown + ")";
                        countdown--;
                    }
                    setTimeout(function () {
                            settime(obj)
                        }
                        , 1000)
                }

                <!--向后台通过ajax发送手机号码数据-->
                $(function () {
                    $('#forcode').click(function () {
                        phone_num = $("#phone_num").val();
                        $.post('{% url 'phone_code' %}', {'phone': phone_num},
                            function (data) {
                                if (data.message == 'OK') {
                                    alert('手机验证码已发送，请注意查收！')
                                } else {
                                    alert(data.message)
                                }
                            })
                    })
                })
            } else {
                $("#Error_phone").text("请输入正确手机号。");
            }
        })
    });
</script>
    <div class="Inside_pages clearfix">
        <!--登录样式-->
        <div class="login">
            <div class="style_login clearfix" style="height: 445px">
                <form class="form-control" action="{% url 'login' %}" method="post">
                    <div class="layout">
                        {% csrf_token %}
                        <div class="login_title">登录</div>
                        {% if message %}
                            <div class="alert alert-warning"
                                 style="text-align: center;color: red;height: 20px">{{ message }}</div>
                        {% endif %}
                        <div class="item item-fore1"><label for="loginname"
                                                            class="login-label name-label"></label><input
                                name="username" type="text" class="text" placeholder="用户名/手机号……" id="loginname"
                                required="required"></div>
                        <div class="item item-fore2"><label for="nloginpwd" class="login-label pwd-label"></label><input
                                name="password" type="password" class="text" placeholder="用户密码" id="nloginpwd"
                                required="required"></div>
                        <div class="item item-fore2" style="height: 38px">
                            <input
                                    name="phone" type="text" class="text" placeholder="请输入手机号……" id="phone_num"
                                    required="required"
                                    pattern="^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$"><span
                                id="Error_phone" style="color: red"></span></div>
                        <div class="item item-fore2" style="height: 38px"><input
                                name="var_code" type="text" required="required" placeholder="请填写验证码……"
                                style="height: 33px;width: 195px;">
                            <input style="height: 33px;"
                                   type="button" id="forcode"
                                   onclick="settime(this)"
                                   value="免费获取验证码"
                                   class="btn btn-success"></div>
                        <div class="login-btn"><input type="submit" value="登&nbsp;&nbsp;录" class="btn_login"></div>
                        <div class="login_link"><a href="{% url 'registered' %}">免费注册</a> | <a href="#">忘记密码</a></div>
                    </div>
                </form>
            </div>
            <div class="login_img"><img src="{% static 'images/login_img_03.png' %}"/></div>
        </div>
    </div>
{% endblock %}


