{% extends 'index.html' %}
{% load static %}
{% block title %}
    用户注册
{% endblock %}
{% block body %}
    <script language="javascript">
        function agree() {
            if (document.getElementById('cb').checked)
                document.getElementById('tj').disabled = false;
            else
                document.getElementById('tj').disabled = 'disabled';
        }
    </script>
    <!--注册样式-->
    <div class="Inside_pages clearfix">
        <div class="register">
            <div class="register_style" style="height: 500px;">
                <form class="form-control" action="{% url 'registered' %}" method="post">
                    <div class="u_register">
                        {% if errmsg %}
                            <div class="alert alert-warning"
                                 style="text-align: center;color: red;height: 20px">{{ errmsg }}</div>
                        {% endif %}
                        {% csrf_token %}
                        <ul>
                            <li><label class="name">手机号码：</label><input required="required" name="phone" type="text"
                                                                        class="text_Add"
                                                                        pattern="^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$"
                                                                        placeholder="请输入您的手机号……"
                            ></li>
                            <li><label class="name">用户名称：</label><input name="username" type="text" class="text_Add">
                            </li>
                            <li><label class="name">设置密码：</label><input required="required" name="password1"
                                                                        type="password"
                                                                        class="text_Add"
                                                                        pattern="^(?![\d]+$)(?![a-zA-Z]+$)(?![!#$%^&*]+$)[\da-zA-Z!#$%^&*]{6,20}$"
                                                                        placeholder="6-20个字符，由字母、数字和符号的两种以上组合"></li>
                            <li><label class="name">确认密码：</label><input name="password2" type="password"
                                                                        class="text_Add"
                                                                        pattern="^(?![\d]+$)(?![a-zA-Z]+$)(?![!#$%^&*]+$)[\da-zA-Z!#$%^&*]{6,20}$"
                                                                        placeholder="请与密码保持一致"></li>
                            <li><label class="name">邮箱：</label><input required="required" name="email" type="text"
                                                                      class="text_Add"
                                                                      placeholder="请输入您的邮箱……"
                            ></li>
                        </ul>
                        <div class="auto-register">
                            <label class="auto-label">
                                <input name="confirm" type="checkbox" id="cb">
                                <span>我已认真阅读并接受<a>《国际商贸城网站注册协议》</a></span>
                            </label>
                        </div>
                        <div class="register-btn">
                            <input type="submit" class="btn_register"
                                   value="注&nbsp;&nbsp;&nbsp;&nbsp;册" id="tj">
                        </div>
                    </div>
                </form>
            </div>
            <div class="register_img"><img src="{% static 'images/Register_img.png' %}"/></div>
        </div>
    </div>
{% endblock %}