{% extends 'user_app/new_head.html' %}
{% load static %}
{% block title %}
    修改密码
{% endblock %}
<!---->
{% block nav %}
    <!--修改密码样式-->
    <!--右侧样式-->
    <div class="user_right">
        <div class="user_Borders">
            <div class="title_name">
                <span class="name">修改密码</span>
            </div>
            <!--修改密码样式-->
            <div class="about_user_info">
                <div class="user_layout" style="font-size: larger;font-family: 黑体">
                    <ul>
                        <li><label class="user_title_name" style="width: 100px;">原密码：</label><input
                                name="old_pwd" type="text" id="old_pwd"
                                class="add_text" style="width: 345px"
                                placeholder="请输入原密码……" required="required"/><em>*</em></li>
                        <li><label class="user_title_name" style="width: 100px;">新密码：</label><input
                                name="new_pwd" type="password" style="width: 345px"
                                class="add_text" id="new_pwd"
                                pattern="^(?![\d]+$)(?![a-zA-Z]+$)(?![!#$%^&*]+$)[\da-zA-Z!#$%^&*]{6,20}$"
                                placeholder="6-20个字符，由字母、数字和符号的两种以上组合……" required="required"/><em>*</em>
                        </li>
                        <li><label class="user_title_name" style="width: 100px;">确认新密码：</label><input
                                name="new_pwd1" type="password" id="new_pwd1"
                                class="add_text" style="width: 345px"
                                pattern="^(?![\d]+$)(?![a-zA-Z]+$)(?![!#$%^&*]+$)[\da-zA-Z!#$%^&*]{6,20}$"
                                placeholder="请与新密码保持一致……" required="required"/><em>*</em>
                        </li>
                    </ul>
                    <div class="operating_btn"><button class="submit—btn">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.submit—btn').click(function () {
            old_pwd = $("#old_pwd").val();
            new_pwd = $("#new_pwd").val();
            new_pwd1 = $("#new_pwd1").val();
            pamars = {'old_pwd': old_pwd, 'new_pwd': new_pwd, 'new_pwd1': new_pwd1};
            $.post('{% url 'user_password' %}', pamars, function (data) {
                if (data.res == 5) {
                    alert(data.errmsg)
                    $('input').val("");
                } else {
                    alert(data.errmsg)
                }
            })
        })
    </script>
{% endblock %}

