{% extends 'user_app/new_head.html' %}
{% load static %}
{% block title %}
    修改密码
{% endblock %}
<!---->
{% block nav %}

    <!--修改密码样式-->
    <!--右侧样式-->
    <div class="user_right">
        <div class="user_Borders">
            <div class="title_name">
                <span class="name">修改密码</span>
            </div>
            <!--修改密码样式-->
            <div class="about_user_info">
                <form id="form1" name="form1" method="post" action="{% url 'user_password' %}">
                    <div class="user_layout" style="font-size: larger;font-family: 黑体">
                        {% csrf_token %}
                        {% if message %}
                            <div class="alert alert-warning"
                                 style="text-align: center;color: red;height: 20px">{{ message }}</div>
                        {% endif %}
                        <ul>
                            <li><label class="user_title_name" style="width: 100px;">原密码：</label><input
                                    name="old_pwd" type="text"
                                    class="add_text" style="width: 345px"
                                    placeholder="请输入原密码……" required="required"/><em>*</em></li>
                            <li><label class="user_title_name" style="width: 100px;">新密码：</label><input
                                    name="new_pwd" type="password" style="width: 345px"
                                    class="add_text"
                                    pattern="^(?![\d]+$)(?![a-zA-Z]+$)(?![!#$%^&*]+$)[\da-zA-Z!#$%^&*]{6,20}$"
                                    placeholder="6-20个字符，由字母、数字和符号的两种以上组合……" required="required"/><em>*</em>
                            </li>
                            <li><label class="user_title_name" style="width: 100px;">确认新密码：</label><input
                                    name="new_pwd1" type="password"
                                    class="add_text" style="width: 345px"
                                    pattern="^(?![\d]+$)(?![a-zA-Z]+$)(?![!#$%^&*]+$)[\da-zA-Z!#$%^&*]{6,20}$"
                                    placeholder="请与新密码保持一致……" required="required"/><em>*</em>
                            </li>
                        </ul>
                        <div class="operating_btn"><input name="name" type="submit" value="确认"
                                                          class="submit—btn"/>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}

