{% extends 'user_app/new_head.html' %}
{% load static %}
{% block title %}
    用户中心
{% endblock %}
{% block nav %}
    <style>
        .Order_form_list table td {
            padding: 10px 20px;
        }

        /* 分页样式 */

        .pagenation {
            height: 32px;
            text-align: center;
            font-size: 0;
            margin: 30px auto;
        }

        .pagenation a {
            display: inline-block;
            border: 1px solid #d2d2d2;
            background-color: #f8f6f7;
            font-size: 12px;
            padding: 7px 10px;
            color: #666;
            margin: 5px
        }

        .pagenation .active {
            background-color: #fff;
            color: #43a200
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            setInterval(showTime, 1000);

            function timer(obj, txt) {
                obj.text(txt);
            }

            function showTime() {
                var today = new Date();
                var weekday = new Array(7);
                weekday[0] = "星期日";
                weekday[1] = "星期一";
                weekday[2] = "星期二";
                weekday[3] = "星期三";
                weekday[4] = "星期四";
                weekday[5] = "星期五";
                weekday[6] = "星期六";
                var y = today.getFullYear() + "年";
                var month = today.getMonth() + 1 + "月";
                var td = today.getDate();
                var d = weekday[today.getDay()];
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                timer($("#y"), y + month);
                //timer($("#MH"),month);
                timer($("h1"), td);
                timer($("#D"), d);
                timer($("#H"), h);
                timer($("#M"), m);
                timer($("#S"), s);
            }
        })
    </script>
    <div class="user_right">
        <div class="Order_form">
            <div class="user_Borders">
                <div class="title_name">
                    <span class="name">我的订单</span>
                    <a href="#">更多订单&gt;&gt;</a>
                </div>
                <div class="Order_form_list">
                    <table>
                        <thead>
                        <td class="list_name_title0">商品</td>
                        <td class="list_name_title1">单价(元)</td>
                        <td class="list_name_title2">数量</td>
                        <td class="list_name_title4">实付款(元)</td>
                        <td class="list_name_title5">订单状态</td>
                        <td class="list_name_title6">操作</td>
                        </thead>
                        {% for order in order_page %}
                            <tbody>
                            <tr>
                                <td colspan="6" class="Order_form_time">{{ order.pay_time }}
                                    订单号：{{ order.order_id }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table class="Order_product_style">
                                        {% for order_sku in order.order_skus %}
                                            <tr>
                                                <td>
                                                    <div class="product_name clearfix">
                                                        <a href="#"><img src="{% static order_sku.pro_id.image.url %}"
                                                                         width="80px" height="80px"/></a>
                                                        <a href="3">{{ order_sku.pro_id.name }}</a>
                                                        <p class="specification">{{ order_sku.pro_id.size }}</p>
                                                    </div>
                                                </td>
                                                <td>{{ order_sku.pro_id.price }}</td>
                                                <td>{{ order_sku.count }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td class="split_line">{{ order.actual_payment }}</td>
                                <td class="split_line">{{ order.status_name }}</td>
                                <td class="split_line">
                                    <button order_id="{{ order.order_id }}"
                                            status="{{ order.order_status }}" class="oper_btn">去付款
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

            </div>
            <div class="pagenation">
                {% if order_page.has_previous %}
                    <a href="{% url 'user' order_page.previous_page_number %}">&lt;上一页</a>
                {% endif %}

                {% for pindex in pages %}
                    {% if pindex == order_page.number %}
                        <a class="active">{{ pindex }}</a>
                    {% else %}
                        <a href="{% url 'user' pindex %}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if order_page.has_next %}
                    <a href="{% url 'user' order_page.next_page_number %}">下一页&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        $(".oper_btn").each(function () {
            //获取支付状态
            status = $(this).attr("status")
            if (status == 1) {
                $(this).text("去付款")
            } else if (status == 4) {
                $(this).text("去评价")
            } else if (status == 5) {
                $(this).text("已完成")
            }
        });
        $(".oper_btn").click(function () {
            //获取status
            status = $(this).attr("status")
            //获取订单id
            order_id = $(this).attr("order_id")
            if (status == 1) {
                //进行支付
                csrf = $('input[name="csrfmiddlewaretoken"]').val()
                //组织参数
                params = {
                    'order_id': order_id,
                    'csrfmiddlewaretoken': csrf
                }

                //发起ajax post请求，访问/order/pay,传递参数：order_id
                $.post('{% url "order_pay" %}', params, function (data) {
                    if (data.res == 3) {
                        //引导用户到支付页面
                        window.open(data.pay_url) //重新打开新页面

                        //浏览器访问/order/check,获取支付交易结果
                        //ajax post 传递参数：order_id
                        $.post("{% url 'order_check' %}", params, function (data) {
                            if (data.res == 3) {
                                alert(data.message)
                                location.reload()
                            } else {
                                alert(data.errmsg)
                            }
                        })

                    } else {
                        alert(data.errmsg)
                    }
                })
            } else if (status == 4) {
                //其它情况
                //跳转到评价页面
                {#order_id = parseInt(order_id)#}
                alert('暂未开通该服务！')
                {#location.href = '{% url 'order_comment' order_id %}'#}
            }
        })
    </script>
{% endblock %}
