{% extends 'user_app/new_head.html' %}
{% load static %}
{% block title %}
    我的收藏
{% endblock %}
{% block nav %}

    <script>
        $(function () {
            $('.delete_Collect').click(function () {
                var id = $('#delete').val();
                $.post({% url 'user_collect' %}, {'fav': 1, 'id': id},
                    function (data) {
                        window.location.reload();
                    }
                )
            })
        })
    </script>
    <!--右侧内容样式-->
    <div class="user_right">
        <div class="user_Borders clearfix">
            <div class="title_name">
                <span class="name">用户收藏</span>
            </div>
            <!--收藏样式-->
            <div class="Collect">
                {% if collect %}
                    <ul class="Collect_list">
                        {% for foo in collect %}
                            <li>
                                <div class="Collect_pro_name">
                                    <a class="delete_Collect"><input type="hidden" id="delete"
                                                                     value="{{ foo.pro_sku.id }}"></a>
                                    <p class="img center"><a
                                            href="{% url "product_detailed" %}?id={{ foo.pro_sku.id }}"><img
                                            src="{% static foo.pro_sku.image.url %}"/></a>
                                    </p>
                                    <p>
                                        <a href="{% url "product_detailed" %}?id={{ foo.pro_sku.id }}">{{ foo.pro_sku.name }}</a>
                                    </p>
                                    <p class="Collect_Standard">{{ foo.pro_sku.title }}</p>
                                    <p class="Collect_price">￥{{ foo.pro_sku.price }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p style="font-size: 25px;text-align: center">收藏好干净哦！&nbsp;<img
                            src="{% static 'images/timg.gif' %}"
                            alt=""
                            style="width: 41px;height: 41px;">&nbsp;快去收藏你喜欢的食品吧
                    </p>

                {% endif %}

                <!--分页-->
                {#                    <div class="pages_Collect clearfix">#}
                {#                        <a href="#" class="on">《</a>#}
                {#                        <a href="#">1</a>#}
                {#                        <a href="#">2</a>#}
                {#                        <a href="#">3</a>#}
                {#                        <a href="#">4</a>#}
                {#                        <a href="#">》</a>#}
                {#                    </div>#}
            </div>
        </div>
    </div>

{% endblock %}

