{% extends 'user_app/new_head.html' %}
{% load static %}
{% block title %}
    修改密码
{% endblock %}
<!---->
{% block body %}
    <!--位置-->
    <div class="Bread_crumbs">
        <div class="Inside_pages clearfix">
            <div class="right Search">
                <form>
                    <input name="" type="text" class="Search_Box"/>
                    <input name="" type="button" name="" class="Search_btn"/>
                </form>
            </div>
        </div>
    </div>
    <!--修改密码样式-->
    <div class="Inside_pages clearfix">
        <div class="clearfix user">
            <!--左侧菜单栏样式-->
            <div class="user_left">
                <div class="user_info">
                    <div class="Head_portrait"><img src="{% static user.head_img.url %}" width="80px"
                                                    height="80px"/>
                        <!--头像区域--></div>
                    <div class="user_name">{{ request.session.user_username }}<a href="{% url 'user_info' %}"
                                                                                 style="color: orange">[个人资料]</a>
                    </div>
                </div>
                <ul class="Section">
                    <li><a href="{% url 'user' %}"><em></em><span>我的订单</span></a></li>
                    <li><a href="{% url 'user_info' %}"><em></em><span>个人信息</span></a></li>
                    <li><a href="{% url 'user_password' %}"><em></em><span>修改密码</span></a></li>
                    <li><a href="{% url 'user_collect' %}"><em></em><span>我的评论</span></a></li>
                    <li><a href="{% url 'user_collect' %}"><em></em><span>我的收藏</span></a></li>
                    <li><a href="{% url 'user_address' %}"><em></em><span>收货地址管理</span></a></li>
                </ul>
            </div>
            <!--右侧样式-->
            <div class="user_right">
                <div class="user_Borders">
                    <div class="title_name">
                        <span class="name">修改密码</span>
                    </div>
                    <!--修改密码样式-->
                    <div class="about_user_info">
                        <form id="form1" name="form1" method="post" action="{% url 'user_password' %}">
                            <div class="user_layout" style="font-size: larger;font-family: 黑体">
                                {% csrf_token %}
                                {% if message %}
                                    <div class="alert alert-warning"
                                         style="text-align: center;color: red;height: 20px">{{ message }}</div>
                                {% endif %}
                                <ul>
                                    <li><label class="user_title_name" style="width: 100px;">原密码：</label><input
                                            name="old_pwd" type="text"
                                            class="add_text" style="width: 345px"
                                            placeholder="请输入原密码……" required="required"/><em>*</em></li>
                                    <li><label class="user_title_name" style="width: 100px;">新密码：</label><input
                                            name="new_pwd" type="password" style="width: 345px"
                                            class="add_text"
                                            pattern="^(?![\d]+$)(?![a-zA-Z]+$)(?![!#$%^&*]+$)[\da-zA-Z!#$%^&*]{6,20}$"
                                            placeholder="6-20个字符，由字母、数字和符号的两种以上组合……" required="required"/><em>*</em>
                                    </li>
                                    <li><label class="user_title_name" style="width: 100px;">确认新密码：</label><input
                                            name="new_pwd1" type="password"
                                            class="add_text" style="width: 345px"
                                            pattern="^(?![\d]+$)(?![a-zA-Z]+$)(?![!#$%^&*]+$)[\da-zA-Z!#$%^&*]{6,20}$"
                                            placeholder="请与新密码保持一致……" required="required"/><em>*</em>
                                    </li>
                                </ul>
                                <div class="operating_btn"><input name="name" type="submit" value="确认"
                                                                  class="submit—btn"/>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

