{% extends 'integral_app/Group_buy.html' %}
{% load static %}
{% load filters %}
{% block title %}
    搜索结果页面
{% endblock %}
{% block img %}
{% endblock %}
{% block bread %}
    搜索{{ query }}结果
{% endblock %}

{% block new_body %}
    <style>
        /* 分页样式 */

        .pagenation {
            height: 32px;
            text-align: center;
            font-size: 0;
            margin: 30px auto;
        }

        .pagenation a {
            display: inline-block;
            border: 1px solid #d2d2d2;
            background-color: #f8f6f7;
            font-size: 12px;
            padding: 7px 10px;
            color: #666;
            margin: 5px
        }

        .pagenation .active {
            background-color: #fff;
            color: #43a200
        }
    </style>
    <!--所有果蔬-->
    <div class="Inside_pages clearfix">
        <div class="integral_style">
            <div class="integral_title"><em></em>搜索结果如下：<span>POINTS MALL</span></div>
            <!--列表样式-->
            <div class="integral_p_list">
                <ul class="list_style">
                    {% for foo in page %}
                        <li class="clearfix" style="width: 310px;height: 400px;">
                            <div class="product_lists clearfix">
                                <a href="{% url "product_detailed" %}?id={{ foo.object.id }}"><img
                                        src="{% static foo.object.image.url %}" width="200" height="200"/></a>
                                <p class="title_p_name"><a
                                        href="{% url "product_detailed" %}?id={{ foo.object.id }}">{{ foo.object.name }}</a>
                                </p>
                                <p class="title_Profile"><a href="#">{{ foo.object.title|mod_val }}</a></p>
                                <p class="price"><b>￥</b><span>{{ foo.object.price }}</span></p>
                                <p class="btn_style"><a href="{% url "product_detailed" %}?id={{ foo.object.id }}"
                                                        class="buy_btn"></a>
                                    <a href="{% url "product_detailed" %}?id={{ foo.object.id }}" class="Join_btn"></a>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="/search?q={{ query }}&page={{ page.previous_page_number }}">&lt;上一页</a>
                {% endif %}

                {% for pindex in paginator.page_range %}
                    {% if pindex == page.number %}
                        <a class="active">{{ pindex }}</a>
                    {% elif pindex == '...' %}
                        <a>{{ pindex }}</a>
                    {% else %}
                        <a href="/search?q={{ query }}&page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
                    <a href="/search?q={{ query }}&page={{ page.next_page_number }}">下一页&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock new_body %}




