{% load static %}
{% load filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block link %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="{% static 'css/css.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
        <script src="{% static 'js/jquery.min.1.8.2.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.SuperSlide.2.1.1.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
        <script src="{% static 'js/common_js.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.foucs.js' %}" type="text/javascript"></script>
    {% endblock %}

    <!--[if IE 7]>
<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
<![endif]-->
    <title>{% block title %}易田商城首页{% endblock %}</title>
</head>

<body>
<!--顶部样式-->
<div class="top_header">
    <em class="left_img"></em>
    <div class="header clearfix" id="header">
        <a href="#" class="logo_img"><img src="{% static 'images/logo.png' %}"/></a>
        <div class="header_Section">
            <div class="shortcut">
                <ul>
                    {% if request.session.is_login %}
                        <li class="hd_menu_tit"><em class="login_img"></em><a
                                href="{% url 'user_info' %}">当前在线：{{ request.session.user_username }}</a></li>
                        <li class="hd_menu_tit"><em class="registered_img"></em><a href="{% url 'logout' %}">注销</a></li>
                    {% else %}
                        <li class="hd_menu_tit"><em class="login_img"></em><a href="{% url 'login' %}">登录</a></li>
                        <li class="hd_menu_tit"><em class="registered_img"></em><a href="{% url 'registered' %}">注册</a>
                        </li>
                    {% endif %}
                    <li class="hd_menu_tit"><em class="Collect_img"></em><a href="{% url 'user_collect' %}">收藏夹</a></li>
                    <li class="hd_menu_tit"><em class="cart_img"></em><a href="{% url 'shopping_cart' %}">购物车</a></li>
                    <li class="hd_menu_tit"><a href="{% url 'user' 1 %}">我的订单</a>
                    </li>
                </ul>
            </div>
            <div class="nav" id="Navigation">
                <ul class="Navigation_name">
                    <li {% if index %} class="on" {% endif %}><a href="{% url 'index' %}">首页</a></li>
                    <li {% if integral %} class="on" {% endif %}><a href="{% url 'integral' %}?page=1">所有果蔬</a></li>
{#                    <li {% if group_buy %} class="on" {% endif %}><a href="{% url 'group_buy' %}">活动专区</a></li>#}
                    <li {% if products %} class="on" {% endif %}><a href="{% url 'products' %}?page=1">水果馆</a></li>
                    <li {% if products_list %} class="on" {% endif %}><a href="{% url 'products_list' %}?page=1">蔬菜馆</a>
                    </li>
                    <li {% if user_info %} class="on" {% endif %}><a href="{% url 'user_info' %}">会员中心</a></li>
                    <li class=""><a href="#">联系我们</a></li>
                </ul>
            </div>

        </div>
    </div>
    <em class="right_img"></em>
</div>
{% block body %}
    <!--幻灯片样式-->
    <div class="AD_bg_img">
        <!--幻灯片样式-->
        <div class="slider">
            <div id="slideBox" class="slideBox">
                <div class="hd">
                    <ul></ul>
                </div>
                <div class="bd">
                    <ul>
                        <li><a href="#" target="_blank"><img src="{% static 'images/AD_img.png' %}"/></a></li>
                        <li><a href="#" target="_blank"><img src="{% static 'images/AD_img.png' %}"/></a></li>
                    </ul>
                </div>
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
            </div>
            <script type="text/javascript">
                jQuery(".slideBox").slide({
                    titCell: ".hd ul",
                    mainCell: ".bd ul",
                    autoPlay: true,
                    autoPage: true,
                    interTime: 9000
                });
            </script>
        </div>
    </div>
    <!--手风琴效果-->
    <div class="recommend_style ">
        <em class="ye_img"></em>
        <div class="mian">
            <div class="title_name"><a href="#" class="link_name">最新促销</a></div>
            <div class="carouFredSel">
                <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
                <div id="center">
                    <div id="slider">
                        {% for sku in skus %}
                            <div class="slide">
                                <a href="{% url "product_detailed" %}?id={{ sku.id }}" title="{{ sku.name }}"
                                   target="_self">
                                    <img class="diapo" border="0"
                                         src="{% static sku.image.url %}"
                                         style="opacity: 1; visibility: visible;"></a>
                                <div class="backgroundText_name">
                                    <div class="product_info">
                                        <h2>{{ sku.title|mod_val }}</h2>
                                        <h5>本店价：{{ sku.price }}</h5>
                                        <p>市场价：<b>￥{{ sku.cost_price }}</b></p>
                                    </div>
                                </div>
                                <div class="text"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <script type="text/javascript">/* ==== start script ==== */
                slider.init();
                </script>
            </div>
        </div>
        <em class="ye_img1"></em>
    </div>
    <!--最新上架产品样式-->
    <div class="new_products clearfix">
        <div class="mian">
            <div id="slideBox_list" class="slideBox_list">
                <div class="hd">
                    <div class="title_name"></div>
                    <div class="list_title">
                        <ul>
                            <li><h3>01</h3><a href="{% url 'products' %}?page=1">水果</a></li>
                            <li><h3>02</h3><a href="{% url 'products_list' %}?page=1">蔬菜</a></li>
                            <li><h3>03</h3><a>干果</a></li>
                            <li><h3>04</h3><a>其他</a></li>
                        </ul>
                    </div>
                </div>

                <div class="bd">
                    <div class="fixed_title_name">
                        <span>新鲜</span>
                    </div>
                    <ul class="">
                        <li class="advertising">
                            <div class="AD1"><a><img src="{% static 'images/product_AD_10.png' %}"/></a></div>
                            <div class="AD2"><a><img src="{% static 'images/product_AD_14.png' %}"/></a><a><img
                                    src="{% static 'images/product_AD_07.png' %}"/></a></div>
                            <div class="AD3"><a><img src="{% static 'images/product_AD_11.png' %}"/></a></div>
                        </li>
                        <li class="advertising">
                            <div class="AD1"><a><img src="{% static 'images/product_AD_10.png' %}"/></a></div>
                            <div class="AD2"><a><img src="{% static 'images/product_AD_07.png' %}"/></a><a><img
                                    src="{% static 'images/product_AD_14.png' %}"/></a></div>
                            <div class="AD3"><a><img src="{% static 'images/product_AD_11.png' %}"/></a></div>
                        </li>
                        <li class="advertising">
                            <div class="AD1"><a><img src="{% static 'images/product_AD_10.png' %}"/></a></div>
                            <div class="AD2"><a><img src="{% static 'images/product_AD_14.png' %}"/></a><a><img
                                    src="{% static 'images/product_AD_07.png' %}"/></a></div>
                            <div class="AD3"><a><img src="{% static 'images/product_AD_11.png' %}"/></a></div>
                        </li>
                        <li class="advertising">
                            <div class="AD1"><a><img src="{% static 'images/product_AD_10.png' %}"/></a></div>
                            <div class="AD2"><a><img src="{% static 'images/product_AD_14.png' %}"/></a><a><img
                                    src="{% static 'images/product_AD_07.png' %}"/></a></div>
                            <div class="AD3"><a><img src="{% static 'images/product_AD_11.png' %}"/></a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">jQuery(".slideBox_list").slide({mainCell: ".bd ul"});</script>
        </div>
    </div>
    <!--产品推荐样式-->
    <div class="p_Slideshow">
        <div class="mian">
            <div class="title_style">
                <div class="title_img"></div>
                <div class="title_link_name">
                    {% for skus1 in skuss %}
                        <a href="{% url 'product_detailed' %}?id={{ skus1.id }}">{{ skus1.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div> <!--幻灯片样式-->
        <div id="main">
            <div id="index_b_hero">
                <div class="title_img"></div>
                <div class="hero-wrap">
                    <ul class="heros clearfix">
                        {% for skus1 in skuss %}
                            <li class="hero">
                                <a href="{% url 'product_detailed' %}?id={{ skus1.id }}" target="_blank" title="第{{ forloop }}张图的说明">
                                    <img src="{% static skus1.image.url %}" class="thumb" alt="{{ skus1.name }}"/>
                                </a>
                                <div class="p_title_name">
                                    <div class="p_recommend_info">
                                        <h3>{{ skus1.name }}</h3>
                                        <p>新鲜包邮价：￥<b class="p_recommend_price">{{ skus1.price }}</b>元</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="helper">
                    <div class="mask-left">
                    </div>
                    <div class="mask-right">
                    </div>
                    <a href="javascript:void(0)" class="prev icon-arrow-a-left"></a>
                    <a href="#javascript:void(0)" class="next icon-arrow-a-right"></a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $.foucs({direction: 'right'});
        </script>
    </div>
{% endblock %}
{% block footer %}
    <!--底部样式-->
    <div class="footer" style="height: 368px">
        <div class="footer_img_bg" style="top: 0"></div>
        <div class="footerbox">
            <div class="footer_info">
                <div class="footer_left">
                    <a href="#"><img src="{% static 'images/logo.png' %}"/></a>
                    <p class="erwm">
                        <img src="{% static 'images/erweim.png' %}" width="80px" height="80px"/>
                        <img src="{% static 'images/erweim.png' %}" width="80px" height="80px"/>
                    <p>
                </div>
                <div class="helper_right clearfix">
                    <dl>
                        <dt><em class="guide"></em>新手指南</dt>
                        <dd><a href="#">实名认证</a></dd>
                        <dd><a href="#">找回密码</a></dd>
                    </dl>
                    <dl>
                        <dt><em class="h_about"></em>关于我们</dt>
                        <dd><a href="#">关于我们</a></dd>
                        <dd><a href="#">政策服务</a></dd>
                        <dd><a href="#">常见问题</a></dd>
                    </dl>
                    <dl>
                        <dt><em class="h_conact"></em>联系我们</dt>
                        <dd><a href="#">联系我们</a></dd>
                        <dd><a href="#">在线客服</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class=" Copyright " style="margin-left:526px;text-align:left">
            @2019 四川浦江特色馆版权所有
        </div>
    </div>
{% endblock %}

</body>
</html>
